@model SMK.BAWANG.UI.Models.m_tbl_poin_nis_cstm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-title">
    <h2> Data Tata Tertib</h2>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="card-title">Detail Data</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">
                @Html.DisplayNameFor(model => model.NIS)
                <hr />
            </div>
            <div class="col-md-1 text-center">
                :
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.NIS) &nbsp;
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">
                @Html.DisplayNameFor(model => model.Nama)
                <hr />
            </div>
            <div class="col-md-1 text-center">
                :
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Nama) &nbsp;
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">
                @Html.DisplayNameFor(model => model.Kelas)
                <hr />
            </div>
            <div class="col-md-1 text-center">
                :
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Kelas) &nbsp;
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">
                @Html.DisplayNameFor(model => model.tata_tertib)
                <hr />
            </div>
            <div class="col-md-1 text-center">
                :
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.tata_tertib) &nbsp;
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="font-weight: bold;">
                @Html.DisplayNameFor(model => model.poin)
                <hr />
            </div>
            <div class="col-md-1 text-center">
                :
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.poin) &nbsp;
                <hr />
            </div>
        </div>
    </div>

    <div class="panel-footer">
        @Html.ActionLink("BACK", "PointSiswaNIS", "PoinSiswaWKL", new { id = Model.NIS, kelas = Model.Kelas }, new { @class = "btn btn-primary" })
        <div class=" float-right">
            <b>Creator:</b> @Html.DisplayFor(model => model.creator) &nbsp;-&nbsp; @if (@Model.created != null)
            {@Model.created.Value.ToString("dd/MMM/yyyy HH:mm")},&nbsp;<b>Editor:</b> @Html.DisplayFor(model => model.editor)&nbsp;-&nbsp; @if (@Model.edited != null)
            {@Model.edited.Value.ToString("dd/MMM/yyyy HH:mm")}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        fWaliKelas('mnPoinSiswaWKL');
    });
</script>
